AmbientTemperatureFiles/*.csv
AmbientTemperatureFiles/*.xlsx
AmbientTemperatureFiles/*.DS_Store
TemperatureFiles/*.DS_Store
TemperatureFiles/*.csv
TemperatureFiles/*.txt.sel
TemperatureFiles/*.R
TemperatureFiles/Done/
TemperatureFiles/Tests/
*.DS_Store
*.numbers
*.pdf
*.xlsx
Notes/
Papers/
Pictures/
NestTemperatureFiles/*.RData
NestTemperatureFiles/*.history
NestTemperatureFiles/*.Rhistory
NestTemperatureFiles/*.txt
NestTemperatureFiles/*.lock
NestTemperatureFiles/*.csv
NestTemperatureFiles/*.R
NestTemperatureFiles/Originals/
NestTemperatureFiles/Pipfile/
NestTemperatureFiles/av.nest.temp/
